.App {
  text-align: center;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; }
#nav li {
  float: left; }

  #nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; }

#nav li  {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #069;
        border-right: 1px solid #ccc; }



.Form{
  text-align: center;
}

.Btn{
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid black;
  color: red;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
}

  .bpicture:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input {
  border-radius: 5px;
  background-color: #f222;
  padding: 20px;
  
}

.me{
  text-align: center;
  font-family: Times New Roman, 30px;
  
  
}
.picture{
  background-image: url("https://imgc.artprintimages.com/img/print/new-york-city-skyline-at-night_u-l-f5co1g0.jpg?h=550&p=0&w=550");

}

/* .Profile{
  float: left;
  text-align: left;
} */